body {
  background-color: black;
  color: rgb(108, 249, 56);
  text-shadow: 0 0 15px rgba(108, 249, 56, .8);

  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
}

.mainWindow {
  margin: 0 auto;
  margin-top: 60px;
  width: 640px;
  height: 480px;
  border: 3px solid rgb(108, 249, 56);

  /* text-align: center; */
}

.technoAllWindow {
  margin: 0 auto;
  margin-top: 20px;
  width: 580px;
  height: 240px;
  /* border: 3px solid rgb(108, 249, 56); */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#technoFace {
  height: 140px;
  width: 140px;
  /* background-color: rgb(246, 182, 49); */
  border: 3px solid rgb(108, 249, 56);
}

#techTextFeild {
  height: 220px;
  width: 400px;
  border: 3px solid rgb(108, 249, 56);
}

#techTextFeild p {
  margin: 20px;
}

.userWindow {
  margin: 0 auto;
  margin-top: 90px;
  height: 100px;
  width: 580px;
  border: 3px solid rgb(108, 249, 56);
}
