body {
  background-color: black;
  color: rgb(108, 249, 56);
  text-shadow: 0 0 15px rgba(108, 249, 56, .8);

  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
}

.mainWindow {
  margin: 0 auto;
  margin-top: 60px;
  width: 320px;
  height: 240px;
  border: 3px solid rgb(108, 249, 56);

  text-align: center;
  padding: 30px
}

.mainWindow p {
}

#technoFace {
  height: 20px;
  width: 20px;
  background-color: red;
}
